body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-admin {
  text-align: right;
  margin-bottom: 20px;
}

.login-admin a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.login-admin a:hover {
  color: #007bff;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.container input {
  width: 95%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff373d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #e31c23;
}

.container p {
  text-align: center;
  margin-top: 20px;
}

.container p a {
  color: #007bff;
  text-decoration: none;
}

.container p a:hover {
  color: #0056b3;
}
