body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-login {
  text-align: right;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.admin-login a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
}

.admin-login a:hover {
  color: var(--theme-color);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  margin:16px 0;
}

.input-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.8rem;
}

.button-container {
  text-align: center;
}

.button-container button {
  width: 80%;
  padding: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--theme-color);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: rgb(218, 28, 28);
}

.links {
  text-align: center;
  margin-top: 20px;
}
.links p {
  font-size:1.3rem;
}

.links a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0 4px;
}

.links a:hover {
  color: #0056b3;
}

form {
  padding:16px 0;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  display: block;
  padding: 16px 0;
}

.admin-login {
  margin-bottom: 0;
}
