body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #c80808;
    color: #171616;
    padding: 10px;
}

h1 {
    text-align: center;
}

.header-right {
    float: right;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.sidebar {
    width: 20%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

a {
    color: #000;
    text-decoration: none;
}

.content {
    width: 80%;
    float: right;
    padding: 10px;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}

p {
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    border: none;
}