/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header styles */
/* Tiêu đề và Nút Đăng xuất */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #23689b;
  color: #fff;
}

.header-right a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.header-right a:hover {
  background-color: #fff;
  color: #333;
}


/* Main styles */
main {
  padding: 20px;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.list-exams {
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 600px;
  margin-right: 10px;
  border-radius: 20px;
  border: 2px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff6600;
}

select {
  padding: 10px;
  border-radius: 20px;
  width: 15%;
  border: 2px solid #ccc;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

li p {
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
