body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #c80808;
    color: #171616;
    padding: 10px;
}

h1 {
    text-align: center;
}

.header-right {
    float: right;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.sidebar {
    width: 20%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

a {
    color: #000;
    text-decoration: none;
}

.content {
    width: 80%;
    float: right;
    padding: 10px;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}

.filter {
    margin-bottom: 20px;
}

p {
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
}

.statistic-item {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    margin-bottom: 5px;
}

p {
    font-size: 18px;
    font-weight: bold;
}

.chart {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}